**STAT112-TERM PROJECT**

BAŞAK KABALOĞLU-FURKAN KAZANCIOĞLU-ÖZGÜR KATIKOL-SABAHATTİN ALP KOCABAŞ

# Data Cleaning

#PROJECT

In [ ]:
import pandas as pd
import numpy as np
from statistics import mode

nba= pd.read_excel('nba_salary.xlsx')

#We imported the necessary Python libraries and read the dirty data with Pandas.

In [ ]:
nba.info()  
#We examined data types and variables by using .info().

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pos         155 non-null    object
 1   Salary      113 non-null    float64
 2   Age         144 non-null    float64
 3   Tm          141 non-null    object
 4   G           157 non-null    float64
 5   GS          144 non-null    float64
 6   MP          139 non-null    float64
 7   FG          142 non-null    float64
 8   FGA         141 non-null    float64
 9   FG%         144 non-null    float64
 10  3P          139 non-null    float64
 11  3PA         141 non-null    float64
 12  3P%         129 non-null    float64
 13  2P          142 non-null    float64
 14  2PA         147 non-null    float64
 15  2P%         139 non-null    float64
 16  eFG%        136 non-null    float64
 17  FT          143 non-null    float64
 18  FTA         142 non-null    float64
 19  FT%         132 non-null    float64
 20  ORB         144 non-null    float64
 21  DRB         142 non-null    float64
 22  TRB         148 non-null    float64
 23  AST         148 non-null    float64
 24  STL         141 non-null    float64
 25  BLK         136 non-null    float64
 26  TOV         142 non-null    float64
 27  PF          141 non-null    float64
 28  PTS         142 non-null    float64
 29  Conference  144 non-null    object
 30  Division    142 non-null    object
dtypes: float64(27), object(4)
memory usage: 39.1+ KB

In [ ]:
nba.head() 
#We checked if the data was imported correctly by using .head() and .tail(). 
#We checked for any issues with the data's separation arguments, the presence of headers, and the presence of NAs in the dataset.

,Pos,Salary,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Conference,Division
0,PF,2711280.0,21.0,MIA,61.0,4.0,12.1,2.0,3.7,0.544,...,2.2,3.4,0.5,NaN,0.5,0.7,1.5,5.0,Eastern Conference,Southeast Division
1,PG,NaN,24.0,NaN,7.0,0.0,2.6,0.1,1.1,0.125,...,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,Eastern Conference,NaN
2,C,17073171.0,27.0,NaN,58.0,58.0,27.7,3.3,5.3,NaN,...,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,Western Conference,Southwest Division
3,C,28103550.0,23.0,MIA,64.0,64.0,33.5,7.1,12.5,0.570,...,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7,Eastern Conference,Southeast Division
4,C,2641691.0,35.0,SAS,21.0,18.0,25.9,5.5,11.8,0.464,...,3.7,4.5,1.7,0.4,0.9,NaN,1.7,NaN,Western Conference,Southwest DIVISION

In [ ]:
nba.tail()

,Pos,Salary,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Conference,Division
156,C,1782621.0,22.0,ATL,33.0,0.0,6.8,0.5,1.3,0.409,...,1.9,2.4,0.3,0.1,0.1,0.6,0.7,1.5,Eastern Conference,Southeast Division
157,PG,NaN,27.0,CLE,2.0,0.0,NaN,4.0,10.5,0.381,...,2.0,3.5,2.5,1.5,0.5,1.5,2.0,9.5,Eastern Conference,Central Division
158,NaN,NaN,NaN,BKN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlantic Division
159,NaN,NaN,NaN,CHA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Conference,Southeast Division
160,NaN,NaN,NaN,PHX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Conference,Pacific Division

In [ ]:
#Since it is the only variable with the same values in both columns, we combined those columns in excel.

In [ ]:
nba = nba.rename({'Tm': 'Team'},axis = "columns")
#There are no detected typos in column names except "Tm". We fixed it by using .rename()

In [ ]:
nba.duplicated().sum()
# In here, we checked if we have duplicated data.

0

In [ ]:
#	We checked whether the white spaces in the string values or not.

In [ ]:
nba["Conference"]=nba["Conference"].str.lower()
nba["Conference"]=nba["Conference"].str.upper()
nba["Conference"]=nba["Conference"].str.title()
nba["Conference"].loc[nba["Conference"]=="Eastern  Confference"]="Eastern Conference"
nba["Conference"].loc[nba["Conference"]=="Western  Confference"]="Western Conference"    

nba["Conference"][26]
nba["Conference"].value_counts()


# We checked if all strings are in the same format.
  
# We verified that all levels of the categories are unique by looking at the string value counts. We fixed them.

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Eastern Conference    77
Western Conference    67
Name: Conference, dtype: int64

In [ ]:
nba["Division"]=nba["Division"].str.lower()
nba["Division"]=nba["Division"].str.upper()
nba["Division"]=nba["Division"].str.title()
nba["Division"].loc[nba["Division"]=="Southeast  Division"]="Southeast Division"
nba["Division"].loc[nba["Division"]=="Pacific  Division"]="Pacific Division"
nba["Division"].loc[nba["Division"]=="Central  Division"]="Central Division"
nba["Division"].loc[nba["Division"]=="Southwest  Division"]="Southwest Division"
nba["Division"].value_counts()

# We checked if all strings are in the same format.

#We verified that all levels of the categories are unique by looking at the string value counts. We fixed them.

Central Division      31
Southeast Division    30
Southwest Division    22
Northwest Division    21
Pacific Division      20
Atlantic Division     18
Name: Division, dtype: int64

In [ ]:
nba.info() 
# We checked the data types once more to confirm that categorical variables are objects, and numerical variables are floats.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pos         155 non-null    object
 1   Salary      113 non-null    float64
 2   Age         144 non-null    float64
 3   Team        141 non-null    object
 4   G           157 non-null    float64
 5   GS          144 non-null    float64
 6   MP          139 non-null    float64
 7   FG          142 non-null    float64
 8   FGA         141 non-null    float64
 9   FG%         144 non-null    float64
 10  3P          139 non-null    float64
 11  3PA         141 non-null    float64
 12  3P%         129 non-null    float64
 13  2P          142 non-null    float64
 14  2PA         147 non-null    float64
 15  2P%         139 non-null    float64
 16  eFG%        136 non-null    float64
 17  FT          143 non-null    float64
 18  FTA         142 non-null    float64
 19  FT%         132 non-null    float64
 20  ORB         144 non-null    float64
 21  DRB         142 non-null    float64
 22  TRB         148 non-null    float64
 23  AST         148 non-null    float64
 24  STL         141 non-null    float64
 25  BLK         136 non-null    float64
 26  TOV         142 non-null    float64
 27  PF          141 non-null    float64
 28  PTS         142 non-null    float64
 29  Conference  144 non-null    object
 30  Division    142 non-null    object
dtypes: float64(27), object(4)
memory usage: 39.1+ KB

In [ ]:
nba.describe()  
#We noticed meaningless values in our variables by looking at descriptive statistics.

,Salary,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,1.130000e+02,144.000000,157.000000,144.000000,139.000000,142.000000,141.000000,144.000000,139.000000,141.000000,...,132.000000,144.000000,142.000000,148.000000,148.000000,141.000000,136.000000,142.000000,141.000000,142.000000
mean,1.061947e+24,25.812500,34.961783,19.006944,20.209353,3.283099,7.243972,0.433208,44.033813,2.703546,...,0.754152,0.970833,3.007042,3.964865,1.741892,0.635461,0.442647,1.062676,1.626950,8.895070
std,3.094590e+24,3.947149,22.687364,23.673034,9.556111,2.404310,4.942561,0.123702,203.568324,2.429562,...,0.124031,0.841068,1.812472,2.397075,1.544841,0.396437,0.430956,0.793556,0.772554,6.485361
min,0.000000e+00,19.000000,0.000000,0.000000,1.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.455000,0.000000,0.100000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.641691e+06,22.750000,15.000000,0.000000,13.050000,1.400000,3.600000,0.401750,0.200000,0.600000,...,0.667000,0.400000,1.700000,2.175000,0.675000,0.300000,0.100000,0.500000,1.100000,4.075000
50%,6.350000e+06,25.500000,33.000000,6.000000,21.800000,2.900000,6.200000,0.439000,0.800000,2.200000,...,0.769000,0.750000,2.850000,3.550000,1.400000,0.600000,0.300000,0.900000,1.700000,7.750000
75%,1.812500e+07,28.250000,56.000000,34.500000,27.850000,4.675000,10.000000,0.489500,1.650000,4.200000,...,0.834250,1.300000,4.000000,5.325000,2.225000,0.900000,0.600000,1.475000,2.100000,12.350000
max,1.000000e+25,36.000000,72.000000,72.000000,36.200000,11.200000,23.000000,0.724000,999.000000,12.700000,...,1.000000,4.700000,9.600000,13.500000,8.600000,2.100000,2.000000,4.300000,3.800000,32.000000

In [ ]:
nba['Salary'] = nba['Salary'].replace(0,np.NaN,regex=True)
nba['Salary'] = nba['Salary'].replace(1E+25,np.NaN,regex=True)
mean_of_Salary=np.mean(nba["Salary"])
nba['Salary'] = nba['Salary'].replace(np.NaN,mean_of_Salary,regex=True)

#We deleted the values containing "E" in the Salary column because they were illogical data. 
#Since the blank values after deleting the values are 36% of the total column, we filled in the blanks using mean.

In [ ]:
mean_of_age=np.mean(nba["Age"])
nba['Age'] = nba['Age'].replace(np.NaN,mean_of_age,regex=True)
 
# We filled the NaN values in our variable by using mean.

In [ ]:
mode_of_Team=mode(nba["Team"])
mode_of_Team="ORL"
nba['Team'] = nba['Team'].replace(np.NaN,mode_of_Team,regex=True)

#We filled the NaN values in our variable by using mode.

In [ ]:
mean_of_G=np.mean(nba["G"])
nba['G'] = nba['G'].replace(np.NaN,mean_of_G,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_MP=np.mean(nba["MP"])
nba['MP'] = nba['MP'].replace(np.NaN,mean_of_MP,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FG=np.mean(nba["FG"])
nba['FG'] = nba['FG'].replace(np.NaN,mean_of_FG,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FGA=np.mean(nba["FGA"])
nba['FGA'] = nba['FGA'].replace(np.NaN,mean_of_FGA,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FGper=np.mean(nba["FG%"])
nba['FG%'] = nba['FG%'].replace(np.NaN,mean_of_FGper,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
nba['3P'] = nba['3P'].replace(999,np.NaN,regex=True)
mean_of_3P=np.mean(nba["3P"])
nba['3P'] = nba['3P'].replace(np.NaN,mean_of_3P,regex=True)

#We filled the illogical values in our variable with NaN and then filled the NaN values with using mean.

In [ ]:
mean_of_3PA=np.mean(nba["3PA"])
nba['3PA'] = nba['3PA'].replace(np.NaN,mean_of_3PA,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
nba['3P%'] = nba['3P%'].replace(1,0,regex=True)
mean_of_3Pper=np.mean(nba["3P%"])
nba['3P%'] = nba['3P%'].replace(np.NaN,mean_of_3Pper,regex=True)

#We filled the illogical values in our variable with NaN and then filled the NaN values with using mean.

In [ ]:
mean_of_2P=np.mean(nba["2P"])
nba['2P'] = nba['2P'].replace(np.NaN,mean_of_2P,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_2PA=np.mean(nba["2PA"])
nba['2PA'] = nba['2PA'].replace(np.NaN,mean_of_2PA,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_2Pper=np.mean(nba["2P%"])
nba['2P%'] = nba['2P%'].replace(np.NaN,mean_of_2Pper,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_eFGper=np.mean(nba["eFG%"])
nba['eFG%'] = nba['eFG%'].replace(np.NaN,mean_of_eFGper,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FT=np.mean(nba["FT"])
nba['FT'] = nba['FT'].replace(np.NaN,mean_of_FT,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FTA=np.mean(nba["FTA"])
nba['FTA'] = nba['FTA'].replace(np.NaN,mean_of_FTA,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_FTper=np.mean(nba["FT%"])
nba['FT%'] = nba['FT%'].replace(np.NaN,mean_of_FTper,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_ORB=np.mean(nba["ORB"])
nba['ORB'] = nba['ORB'].replace(np.NaN,mean_of_ORB,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_DRB=np.mean(nba["DRB"])
nba['DRB'] = nba['DRB'].replace(np.NaN,mean_of_DRB,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_TRB=np.mean(nba["TRB"])
nba['TRB'] = nba['TRB'].replace(np.NaN,mean_of_TRB,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_AST=np.mean(nba["AST"])
nba['AST'] = nba['AST'].replace(np.NaN,mean_of_AST,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_STL=np.mean(nba["STL"])
nba['STL'] = nba['STL'].replace(np.NaN,mean_of_STL,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_BLK=np.mean(nba["BLK"])
nba['BLK'] = nba['BLK'].replace(np.NaN,mean_of_BLK,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_TOV=np.mean(nba["TOV"])
nba['TOV'] = nba['TOV'].replace(np.NaN,mean_of_TOV,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_PF=np.mean(nba["PF"])
nba['PF'] = nba['PF'].replace(np.NaN,mean_of_PF,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mean_of_PTS=np.mean(nba["PTS"])
nba['PTS'] = nba['PTS'].replace(np.NaN,mean_of_PTS,regex=True)

# We filled the NaN values in our variable by using mean.

In [ ]:
mode_of_Conference=mode(nba["Conference"])
nba['Conference'] = nba['Conference'].replace(np.NaN,mode_of_Conference,regex=True)

# We filled the NaN values in our variable by using mode.

In [ ]:
mode_of_Division=mode(nba["Division"])
nba['Division'] = nba['Division'].replace(np.NaN,mode_of_Division,regex=True)

# We filled the NaN values in our variable by using mode.

In [ ]:
nba = nba.drop(nba.index[160])
nba = nba.drop(nba.index[159])
nba = nba.drop(nba.index[158])

# There were rows with values for only one variable in our dataset, and we deleted them due to insufficient data.

nba = nba.drop(nba.index[141])
nba = nba.drop(nba.index[101])
nba = nba.drop(nba.index[100])

# We had three rows with too many 0 values in our dataset, which we deleted because it was meaningless.

nba.drop('GS', inplace=True, axis=1)

#We dropped the GS column because we had another column with the same variable values

In [ ]:
nba.info()
#Finally we checked if there are null values in each column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 157
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pos         155 non-null    object
 1   Salary      155 non-null    float64
 2   Age         155 non-null    float64
 3   Team        155 non-null    object
 4   G           155 non-null    float64
 5   MP          155 non-null    float64
 6   FG          155 non-null    float64
 7   FGA         155 non-null    float64
 8   FG%         155 non-null    float64
 9   3P          155 non-null    float64
 10  3PA         155 non-null    float64
 11  3P%         155 non-null    float64
 12  2P          155 non-null    float64
 13  2PA         155 non-null    float64
 14  2P%         155 non-null    float64
 15  eFG%        155 non-null    float64
 16  FT          155 non-null    float64
 17  FTA         155 non-null    float64
 18  FT%         155 non-null    float64
 19  ORB         155 non-null    float64
 20  DRB         155 non-null    float64
 21  TRB         155 non-null    float64
 22  AST         155 non-null    float64
 23  STL         155 non-null    float64
 24  BLK         155 non-null    float64
 25  TOV         155 non-null    float64
 26  PF          155 non-null    float64
 27  PTS         155 non-null    float64
 28  Conference  155 non-null    object
 29  Division    155 non-null    object
dtypes: float64(26), object(4)
memory usage: 37.5+ KB

In [ ]:
nba.to_excel("nba_salary_clean.xlsx",float_format="%.2f") 
#We printed out our cleaned data and started plotting our graphs.