**Stat112-Final Project**

Özgür Katıkol-2561348,
Abdülkadir Yörük-2520310,
Erçin İlbay-2514479,
Bora Kırmızıbayır-2514511,
Zübeyir Alp Zengin-2524049,

# **Data Cleaning**

In [36]:
import numpy as np
import pandas as pd
from statistics import mode

df= pd.read_excel('Ford_Car_Price.xlsx')

# We imported the Python libraries Pandas, NumPy and Statistics to clean and manipulate the dirty data
# Then we read the provided excel file as df

In [37]:
# We examined the variables and their data types by using .info() and printing df
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 11 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Data Description : The dataset consists of 120 observations and 11 variables  122 non-null    object
 1   Unnamed: 1                                                                    122 non-null    object
 2   Unnamed: 2                                                                    122 non-null    object
 3   Unnamed: 3                                                                    120 non-null    object
 4   Unnamed: 4                                                                    122 non-null    object
 5   Unnamed: 5                                                                    122 non-null    object
 6   Unnamed: 6                                                                    122 non-null    object
 7   Unnamed: 7                                                                    118 non-null    object
 8   Unnamed: 8                                                                    122 non-null    object
 9   Unnamed: 9                                                                    121 non-null    object
 10  Unnamed: 10                                                                   121 non-null    object
dtypes: object(11)
memory usage: 10.7+ KB

,Data Description : The dataset consists of 120 observations and 11 variables,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,##Year,Month,//Model,COLOR,Condition,TRANSMISSION,"""FUEL TYPE""",##Mileage,Engine_Size,##Price,//**Owner_Type\\
2,2019,January,Fusion,Blue,Used,Automatic,"""Petrol""",40000,1.5,20000,First
3,2018,February,Escape,Black,New,Manual,Diesel,15000,2,28000,2nd
4,2020,March,Focus,White,U,Auto,Petrol,30000,1.6,18000,First
...,...,...,...,...,...,...,...,...,...,...,...
118,2018,August,F-150,Silver,Used,Automatic,Petrol,38000,3.5,31000,Second
119,2022,September,Fusion,White,New,Manual,Petrol,14000,1.5,18000,Third
120,2016,October,Escape,Blue,Used,Automatic,Diesel,40000,2,26000,First
121,2019,November,Focus,Gray,Used,Automatic,Petrol,30000,1.6,20000,Second
122,2021,December,Mustang,BLACK,New,manual,Petrol,20000,5,40000,Third

In [38]:
# After inspecting we read the excel as df_corrected and set the third row as the header
df_corrected = pd.read_excel('Ford_Car_Price.xlsx', header=2)


# We combined the first few rows and the last few rows of the corrected DataFrame using pd.concat to display a concise summary of the corrected DataFrame
df_corrected_head_tail = pd.concat([df_corrected.head(), df_corrected.tail()])

# We then displayed the combined corrected DataFrame containing the first few and last few rows along with the data types of each column in the corrected DataFrame
df_corrected_head_tail, df_corrected.dtypes

(     ##Year      Month   //Model   COLOR Condition TRANSMISSION "FUEL TYPE"  \
 0      2019    January    Fusion    Blue      Used    Automatic    "Petrol"
 1      2018   February    Escape   Black       New       Manual      Diesel
 2      2020      March     Focus   White         U         Auto      Petrol
 3      2017      April   Mustang     Red         U    Automatic      Petrol
 4      2019        May  Explorer  Silver         U    Automatic    "Hybrid"
 116    2018     August     F-150  Silver      Used    Automatic      Petrol
 117    2022  September    Fusion   White       New       Manual      Petrol
 118    2016    October    Escape    Blue      Used    Automatic      Diesel
 119    2019   November     Focus    Gray      Used    Automatic      Petrol
 120    2021   December   Mustang   BLACK       New       manual      Petrol

      ##Mileage Engine_Size  ##Price //**Owner_Type\\
 0      40000.0         1.5  20000.0            First
 1      15000.0           2  28000.0              2nd
 2      30000.0         1.6  18000.0            First
 3      25000.0           5  40000.0            Third
 4      35000.0         3.5  32000.0            First
 116    38000.0         3.5  31000.0           Second
 117    14000.0         1.5  18000.0            Third
 118    40000.0           2  26000.0            First
 119    30000.0         1.6  20000.0           Second
 120    20000.0           5  40000.0            Third  ,
 ##Year                int64
 Month                object
 //Model              object
 COLOR                object
 Condition            object
 TRANSMISSION         object
 "FUEL TYPE"          object
 ##Mileage           float64
 Engine_Size          object
 ##Price             float64
 //**Owner_Type\\     object
 dtype: object)

In [39]:
# We defined a dictionary that maps the old column names to the new column names
column_names = {
    '##Year': 'Year',
    'Month': 'Month',
    '//Model': 'Model',
    'COLOR': 'Color',
    'Condition': 'Condition',
    'TRANSMISSION': 'Transmission',
    '"FUEL TYPE"': 'Fuel Type',
    '##Mileage': 'Mileage',
    'Engine_Size': 'Engine Size',
    '##Price': 'Price',
    '//**Owner_Type\\': 'Owner Type',
    }



# We renamed the columns of the DataFrame based on the defined mapping
df_corrected.rename(columns=column_names, inplace=True)
df_corrected.columns.values[10] = 'Owner Type'
# We printed the column names to make sure it was working.
df_corrected.columns

# We converted numeric columns to float data type and handled errors by coercing invalid values to NaN
df_corrected['Price'] = pd.to_numeric(df_corrected['Price'], errors='coerce').astype(float)
df_corrected['Mileage'] = pd.to_numeric(df_corrected['Mileage'], errors='coerce').astype(float)
df_corrected['Engine Size'] = pd.to_numeric(df_corrected['Engine Size'], errors='coerce').astype(float)

# We didn't make the "year" column date or integer because the year represents a descriptive data, indicating the model year of the car, in other words.
df_corrected['Year'] = df_corrected['Year'].astype(object)


# We displayed the combined corrected DataFrame containing the first few and last few rows along with the data types of each column in the corrected DataFrame
df_corrected_head_tail = pd.concat([df_corrected.head(), df_corrected.tail()])
df_corrected_head_tail, df_corrected.dtypes

(     Year      Month     Model   Color Condition Transmission Fuel Type  \
 0    2019    January    Fusion    Blue      Used    Automatic  "Petrol"
 1    2018   February    Escape   Black       New       Manual    Diesel
 2    2020      March     Focus   White         U         Auto    Petrol
 3    2017      April   Mustang     Red         U    Automatic    Petrol
 4    2019        May  Explorer  Silver         U    Automatic  "Hybrid"
 116  2018     August     F-150  Silver      Used    Automatic    Petrol
 117  2022  September    Fusion   White       New       Manual    Petrol
 118  2016    October    Escape    Blue      Used    Automatic    Diesel
 119  2019   November     Focus    Gray      Used    Automatic    Petrol
 120  2021   December   Mustang   BLACK       New       manual    Petrol

      Mileage  Engine Size    Price Owner Type
 0    40000.0          1.5  20000.0      First
 1    15000.0          2.0  28000.0        2nd
 2    30000.0          1.6  18000.0      First
 3    25000.0          5.0  40000.0      Third
 4    35000.0          3.5  32000.0      First
 116  38000.0          3.5  31000.0     Second
 117  14000.0          1.5  18000.0      Third
 118  40000.0          2.0  26000.0      First
 119  30000.0          1.6  20000.0     Second
 120  20000.0          5.0  40000.0      Third  ,
 Year             object
 Month            object
 Model            object
 Color            object
 Condition        object
 Transmission     object
 Fuel Type        object
 Mileage         float64
 Engine Size     float64
 Price           float64
 Owner Type       object
 dtype: object)

In [40]:
# We then inspected the DataFrame to see whether the Non-Null counts changed using .info()
df_corrected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          121 non-null    object
 1   Month         121 non-null    object
 2   Model         121 non-null    object
 3   Color         119 non-null    object
 4   Condition     121 non-null    object
 5   Transmission  121 non-null    object
 6   Fuel Type     121 non-null    object
 7   Mileage       117 non-null    float64
 8   Engine Size   119 non-null    float64
 9   Price         120 non-null    float64
 10  Owner Type    120 non-null    object
dtypes: float64(3), object(8)
memory usage: 10.5+ KB

In [41]:
# We checked the existance of outliers using .describe()
df_corrected.describe()

            Mileage  Engine Size         Price
count    117.000000   119.000000    120.000000
mean   28128.205128     2.824370  28008.333333
std    10459.724449     1.277708   7697.534073
min    10000.000000     1.500000  16000.000000
25%    16000.000000     1.600000  21000.000000
50%    30000.000000     2.700000  27500.000000
75%    36000.000000     3.500000  33000.000000
max    48000.000000     5.000000  42000.000000

In [42]:
# We used .duplicated() to find duplicates in the DataFrame and then used .sum() to find the total number of dublicates in the DataFrame
df_corrected.duplicated().sum()

51

In [43]:
# We removed the duplicate rows from the original DataFrame and created a new DataFrame df_no_duplicates
# We used the .copy() to ensure that the new DataFrame is a separate copy
df_no_duplicates = df_corrected.drop_duplicates().copy()


# We removed leading and trailing whitespaces from the object columns
df_no_duplicates['Model'] = df_no_duplicates['Model'].str.strip()
df_no_duplicates['Color'] = df_no_duplicates['Color'].str.strip()
df_no_duplicates['Condition'] = df_no_duplicates['Condition'].str.strip()
df_no_duplicates['Transmission'] = df_no_duplicates['Transmission'].str.strip()
df_no_duplicates['Month'] = df_no_duplicates['Month'].str.strip()
df_no_duplicates['Year'] = df_no_duplicates['Year'].astype(str).str.strip()
df_no_duplicates['Owner Type'] = df_no_duplicates['Owner Type'].str.strip()
df_no_duplicates['Fuel Type'] = df_no_duplicates['Fuel Type'].str.strip()


# We created an string_columns list and then converted string columns to lowercase to ensure that all strings are in the same format
string_columns = ['Year','Month', 'Model', 'Color', 'Condition', 'Transmission', 'Fuel Type', 'Owner Type']
df_no_duplicates.loc[:, string_columns] = df_no_duplicates[string_columns].apply(lambda x: x.str.lower())


# We iterated over each column specified in the string_columns list and printed the value counts for each unique value in that column within the DataFrame to identify typos
for column in string_columns:

    print(f"Value Counts for {column}:\n{df_no_duplicates[column].value_counts()}\n")

Value Counts for Year:
2019    13
2018    13
2021    13
2020    11
2017     8
2022     7
2016     5
Name: Year, dtype: int64

Value Counts for Month:
january      7
february     7
december     7
march        6
june         6
july         6
august       6
april        5
may          5
september    5
october      5
november     5
Name: Month, dtype: int64

Value Counts for Model:
mustang     14
explorer    13
escape      11
f-150       11
focus       10
fusion       8
f_150        2
focuss       1
Name: Model, dtype: int64

Value Counts for Color:
black     14
white     12
blue      11
red       11
silver    10
gray      10
Name: Color, dtype: int64

Value Counts for Condition:
used    45
new     20
u        3
n        2
Name: Condition, dtype: int64

Value Counts for Transmission:
automatic    46
manual       22
auto          2
Name: Transmission, dtype: int64

Value Counts for Fuel Type:
petrol      43
hybrid      12
diesel      10
"petrol"     3
"hybrid"     1
"diesel"     1
Name: Fuel Type, dtype: int64

Value Counts for Owner Type:
first     23
second    22
third     19
2nd        2
3rd        2
1st        1
Name: Owner Type, dtype: int64

In [44]:
# Standardizing the format of the string columns

# We corrected specific substrings in string columns
for column in string_columns:

    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace('auto ', 'automatic')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace(' u ', 'used')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace(' n ', 'new')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace('"petrol "', 'petrol')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace('"Hybrid"', 'hybrid')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace('"Diesel"', 'diesel')
    df_no_duplicates.loc[:, column] = df_no_duplicates[column].str.replace('"Petrol"', 'petrol')


# We corrected u as 'Used' and n as 'New' and capitalized the 'used' and 'new' words
df_no_duplicates['Condition'] = df_no_duplicates['Condition'].replace({'u': 'Used', 'n': 'New'}).str.capitalize()


# We corrected the model names, replaced underscores with hyphens and capitalized each word
df_no_duplicates['Model'] = df_no_duplicates['Model'].str.replace('_', '-').str.title()
df_no_duplicates['Model'] = df_no_duplicates['Model'].str.replace('Focuss', 'Focus').str.title()


# We corrected color names by capitalizing each word
df_no_duplicates['Color'] = df_no_duplicates['Color'].str.capitalize()


# We corrected month names by capitalizing each word
df_no_duplicates['Month'] = df_no_duplicates['Month'].str.capitalize()


# We corrected transmission by replacing 'auto' with 'Automatic' and then capitalized each word
df_no_duplicates['Transmission'] = df_no_duplicates['Transmission'].replace({'auto': 'Automatic'}).str.capitalize()


# We removed quotes from fuel type and then capitalized each word
df_no_duplicates['Fuel Type'] = df_no_duplicates['Fuel Type'].str.replace('"', '').str.capitalize()


# We changed the mistakes in owner type and then capitalized each word
df_no_duplicates['Owner Type'] = df_no_duplicates['Owner Type'].replace({'1st': 'First', '2nd': 'Second', '3rd': 'Third'}).str.capitalize()

# We checked again to see if there were any typo's left
for column in string_columns:

  print(f"Value Counts for {column}:\n{df_no_duplicates[column].value_counts()}\n")
# Checking the unique values in the column of the original dataset
for column in string_columns:
  df_no_duplicates[column].unique()


# We also corrected the indexes of each row(it was in disarray after the dublicates were deleted)
new_index=[list(range(1, 71))]
df_no_duplicates.set_index(new_index, inplace=True)

# We checked the data after standardization
df_no_duplicates_head_tail = pd.concat([df_no_duplicates.head(), df_no_duplicates.tail()])
df_no_duplicates_head_tail

Value Counts for Year:
2019    13
2018    13
2021    13
2020    11
2017     8
2022     7
2016     5
Name: Year, dtype: int64

Value Counts for Month:
January      7
February     7
December     7
March        6
June         6
July         6
August       6
April        5
May          5
September    5
October      5
November     5
Name: Month, dtype: int64

Value Counts for Model:
Mustang     14
Explorer    13
F-150       13
Escape      11
Focus       11
Fusion       8
Name: Model, dtype: int64

Value Counts for Color:
Black     14
White     12
Blue      11
Red       11
Silver    10
Gray      10
Name: Color, dtype: int64

Value Counts for Condition:
Used    48
New     22
Name: Condition, dtype: int64

Value Counts for Transmission:
Automatic    48
Manual       22
Name: Transmission, dtype: int64

Value Counts for Fuel Type:
Petrol    46
Hybrid    13
Diesel    11
Name: Fuel Type, dtype: int64

Value Counts for Owner Type:
First     24
Second    24
Third     21
Name: Owner Type, dtype: int64

,Year,Month,Model,Color,Condition,Transmission,Fuel Type,Mileage,Engine Size,Price,Owner Type
1,2019,January,Fusion,Blue,Used,Automatic,Petrol,40000.0,1.5,20000.0,First
2,2018,February,Escape,Black,New,Manual,Diesel,15000.0,2.0,28000.0,Second
3,2020,March,Focus,White,Used,Automatic,Petrol,30000.0,1.6,18000.0,First
4,2017,April,Mustang,Red,Used,Automatic,Petrol,25000.0,5.0,40000.0,Third
5,2019,May,Explorer,Silver,Used,Automatic,Hybrid,35000.0,3.5,32000.0,First
66,2018,January,Explorer,Blue,Used,Automatic,Hybrid,34000.0,3.5,33000.0,First
67,2019,February,F-150,White,Used,Automatic,Petrol,32000.0,2.7,31000.0,Second
68,2018,August,F-150,Silver,Used,Automatic,Petrol,38000.0,NaN,31000.0,Second
69,2019,July,Explorer,Red,Used,Automatic,Hybrid,36000.0,3.5,NaN,NaN
70,2021,December,Mustang,Black,New,Manual,Petrol,20000.0,5.0,40000.0,Third

In [45]:
# We used .isna() to find how many Na values are in the DataFrame and in which columns
na_count = df_no_duplicates.isna().sum()
na_count

Year            0
Month           0
Model           0
Color           2
Condition       0
Transmission    0
Fuel Type       0
Mileage         4
Engine Size     2
Price           1
Owner Type      1
dtype: int64

In [46]:
# We calculated the mean value of the "Milage" column using np.mean and replaced Na values in that column with the mean value
mean_of_Mileage=np.mean(df_no_duplicates["Mileage"])
df_no_duplicates['Mileage'] = df_no_duplicates['Mileage'].replace(np.NaN,mean_of_Mileage,regex=True)


# We calculated the mean value of the "Engine Size" column using np.mean and replaced Na values in that column with the mean value
mean_of_Engine_Size=np.mean(df_no_duplicates["Engine Size"])
df_no_duplicates['Engine Size'] = df_no_duplicates['Engine Size'].replace(np.NaN,mean_of_Engine_Size,regex=True)


# We calculated the mean value of the "Price" column using np.mean and replaced Na values in that column with the mean value
mean_of_Price=np.mean(df_no_duplicates["Price"])
df_no_duplicates['Price'] = df_no_duplicates['Price'].replace(np.NaN,mean_of_Price,regex=True)


# We found the mode of the "Owner Type" column using mode function from the statistics library and replaced Na values in that column with the mode
mode_of_Owner_Type=mode(df_no_duplicates["Owner Type"])
df_no_duplicates['Owner Type'] = df_no_duplicates['Owner Type'].replace(np.NaN,mode_of_Owner_Type,regex=True)

# We found the mode of the "Color" column using mode function from the statistics library and replaced Na values in that column with the mode
mode_of_Color=mode(df_no_duplicates["Color"])
df_no_duplicates['Color'] = df_no_duplicates['Color'].replace(np.NaN,mode_of_Color,regex=True)


# We checked the na counts again to see if there were any left
na_count = df_no_duplicates.isna().sum()
na_count

Year            0
Month           0
Model           0
Color           0
Condition       0
Transmission    0
Fuel Type       0
Mileage         0
Engine Size     0
Price           0
Owner Type      0
dtype: int64

In [47]:
# We controlled the DataFrame to make sure there were no mistake
df_no_duplicates.describe()
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 1 to 70
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          70 non-null     object
 1   Month         70 non-null     object
 2   Model         70 non-null     object
 3   Color         70 non-null     object
 4   Condition     70 non-null     object
 5   Transmission  70 non-null     object
 6   Fuel Type     70 non-null     object
 7   Mileage       70 non-null     float64
 8   Engine Size   70 non-null     float64
 9   Price         70 non-null     float64
 10  Owner Type    70 non-null     object
dtypes: float64(3), object(8)
memory usage: 6.6+ KB

In [49]:
# We exported the cleaned DataFrame to a new excel file named "CleanedData" for further analysis
df_no_duplicates.to_excel('CleanedData.xlsx', index=False)